body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

button {
  margin: 1rem 0;
}

#authoring,
#notesOutput {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#editor {
  resize: none;
  overflow: auto;
  border: none;
  box-shadow: 0px 0px 5px 0px #5e5c82;
  background-color: #282a3a;
  padding: 1rem;
  height: 50vh;
  color: white;
}

#navButtons{
  display: flex;
  justify-content: space-between;
}

#parsedOutput {
  font-family: sans-serif;
}

.slide {
  margin: 1rem 0;
  padding-inline: 1rem;
  border: 1px solid black;
}
