@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
 

  --col-background: #fafcff;
  --col-on-background: #001f2a;
  --col-primary: #bf0229;
  --col-primary-el1: #e32b3e;
  --col-on-primary: #ffffff;
  --col-secondary: #00639c;
  --col-on-secondary: #ffffff;
  --col-outline: #857372;
  --col-primary-container: #ffdad8;
  --col-primary-container-el1: #ffb3b1;
  --col-on-primary-container: #410007;
  --col-secondary-container: #cfe5ff;
  --col-on-secondary-container: #001d33;
  --col-tertiary-container: #ffdeab;
  --col-on-tertiary-container: #271900;

  --col-error-container: #ffdad6;
  --col-on-error-container: #410002;

  --col-on-surface: #001f2a;

  --font-display-large: 57px;
  --font-title-large: 22px;
  --font-title-medium: 16px;
  --font-body-large: 16px;

  background-color: var(--col-background);
  color: var(--col-on-background);

  font-family: "Roboto Flex", sans-serif;
}

.display-large {
  font-size: var(--font-display-large);
  font-weight: 700;
}

.title-medium {
  font-size: var(--font-title-medium);
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-center-align-text {
  text-align: center;
}

.flex-just {
  justify-content: center;
}

.flex-align {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full {
  width: 100%;
}

.full-height {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.primary-container {
  background-color: var(--col-primary-container);
  color: var(--col-on-primary-container);
}

.secondary-container {
  background-color: var(--col-secondary-container);
  color: var(--col-on-secondary-container);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 120px;
  border-radius: 20px;

  background-color: var(--col-primary);
  color: var(--col-on-primary);

  font-size: 22px;
  font-weight: 400;

  margin: 2rem;

  cursor: pointer;
}

.container-sidebar {
  display: flex;
  height: 100vh;
}

.side-menu {
  background-color: var(--col-primary);
  color: var(--col-on-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem;
}

.side-profile {
  display: flex;
  align-items: center;
}

.profil-placeholder {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: white;
  margin: 0.5rem 0;
}

.main-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 2rem;
}

.preview-bar {
  min-width: 250px;
  align-items: center;
  overflow-y: auto;
}

.full-container {
  display: flex;
  align-items: center;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--col-primary);
  color: var(--col-on-primary);
  margin: 1rem 0;
}

button:hover {
  background-color: var(--col-primary-el1);
  cursor: pointer;
}

.login-container {
  align-items: center;
  background-color: var(--col-primary-container);
  color: var(--col-on-primary-container);
  border-radius: 10px;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0 1rem 0;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: 0 0 1rem 0;
}

label {
  font-size: var(--font-body-large);
  align-self: flex-start;
  margin: 0 0 0.25rem 24px;
}

.input-container input {
  height: 56px;
  font-size: var(--font-body-large);
  border: 1px solid var(--col-outline);
  border-radius: 10px;
  position: relative;
  left: -12px;
  padding-left: 40px;
  color: var(--col-on-surface);
}

.material-symbols-outlined {
  position: relative;
  z-index: 1000;
  left: 24px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--col-on-surface);
}

#presentation-list {
  width: 100%;
}

.presentation-card {
  width: 200px;
  height: 200px;
  background-color: var(--col-primary-container);
  color: var(--col-on-primary-container);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
/*   display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: min-content auto;
}

.presentation-card:hover {
  cursor: pointer;
  background-color: var(--col-primary-container-el1);
}

.presentation-card__title{
  grid-column-start: 1;
}

.presentation-card__deletebutton{
  grid-column-start: 2;
}

.card__body{
  grid-column: 1/3;
}

#presentation-title {
  cursor: pointer;
  margin-right: -0.85rem;
}

#authoring-editor-container {
  width: 100%;
}

#authoring-editor {
  resize: none;
  overflow: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #5e5c82;
  padding: 1rem;
  height: 50vh;
}

.preview-slide {
  width: 192px;
  height: 108px;
  border: 1px solid var(--col-outline);
  margin: 1rem 3rem 0 3rem;
  padding: 1rem;
  background-color: #ffdeab;
  border-radius: 5px;
}

.preview-slide img {
  max-width: 250px;
}

#authoring-show-notes {
  border: 1px solid var(--col-outline);
  border-radius: 10px;
  margin-top: 2rem;
}

.notes-username {
  font-size: var(--font-title-large);
  padding: 1rem;
  margin-top: 1rem;
  position: relative;
}

.note-content {
  padding: 0 1rem;
}

.note-arrow {
  color: var(--col-background);
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translate(-50%, 0.3rem);
  font-size: 3rem;
}

/****** Modal *****/
.modal-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col-error-container);
  color: var(--col-on-error-container);
  padding: 2rem;
  max-width: 75vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-button-area button {
  margin: 1rem;
}

.fade {
  filter: opacity(0.2);
}


/****** || Presenter *****/
.nav--preview{
  border: 1px solid var(--col-outline);
  margin: 0 1rem;
  padding: 1rem;
  background-color: var(--col-tertiary-container);
  color: var(--col-on-tertiary-container);
}

.preview--empty{
  background-color: black;
  color: white;
}

.preview--current{
  width: 192px;
  height: 108px;
}

.preview--small{
  width: 160px;
  height: 90px;
}

.presenter-script{
  border: 1px solid var(--col-outline);
  padding: 1rem;
  border-radius: 5px;
  min-width: 50vw;
  margin: 1rem 0;
  overflow-y: auto;
}

.only-vh{
  max-height: 100vh;
}